body {
  // #212737
  background-image: linear-gradient(135deg, rgb(33, 39, 55) 0%, rgb(22, 28, 37) 100%);
  // background-image: linear-gradient(135deg, rgb(27, 32, 45) 0%, rgb(22, 28, 37) 100%);
  font-family: 'Titillium Web';
}

#app {
  // text-align: center;
  min-height: calc(100vh);
  // background-attachment: fixed;
  // background-image: url("/images/bruce.png");
  // background-image: linear-gradient(135deg, rgb(27, 32, 45) 0%, rgb(22, 28, 37) 100%);
  // background-repeat: no-repeat;
  // background-size: contain;
  // background-position: center;
  // background-position: calc(50% + 180px) 50%;
  color: #FFFFFF;
  padding: 60px 0px 0px 0px;

  #main-wrapper {
    padding-bottom: 40px;
    max-width: 1240px;
  }
}

#app-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

#app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#app-link {
  color: #61dafb;
}

a {
  color: #FFFFFF;
}
a:hover {
  color: #ff4646;
  text-decoration: none;
}

hr {
  // background-color: #a6b2d1;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: rgba(166,178,209,0.3);
}

input {
  &.form-control, &.form-control:focus{
  color: #ffffff;
  box-shadow: none;
  }
}

.section-title {
  margin: 40px 0 40px 0;
  text-transform: capitalize;
  // margin-top: 40px;
  // margin-bottom: 40px;
}

.swiper-slide-info {
  // position: absolute;
}

.tile {
  // overflow: hidden;
  // padding: 0 15px 30px 15px;
  // padding: 0;
}


// .tile-image {
//   height: auto;
//   width: 100%;
//   box-shadow: 0px 0px 10px 2px #000000;
// }

.tile-artist {
  color: #a6b2d1;
  a {
    color: #a6b2d1;
  }
}

.tile-title {
  padding-top: 15px;
  color: #ffffff;
  overflow: hidden;
  text-overflow: ellipsis;
  a {
    color: #FFFFFF;
  }
}

.tile-subtitle {
  a {
    color: #FFFFFF;
  }
}

.tracks-wrapper {
  background-color: transparent !important;
}

.list-group {
  background-color: transparent;
}

.list-group-item {
  background-color: transparent;
  border-bottom-color: #a5a5a5;
}

// #pagination-container {
//   position: absolute;
//   bottom: 10px;
// }

#track-modal {
  padding-right: 0 !important;
}

.modal-content {
  background-color: rgb(21,27,36) !important;
  border: 0;
}

.view-button {
  background-color: transparent;
  border: 0;
  color: #a6b2d1;
  padding: 10px;
  text-transform: capitalize;
  display: inline-block;
  &.active {
      span {
          color: #FFFFFF;
          border-bottom: 2px solid #ffffff;
      }
  }
  &:focus {
      outline: none;
  }
}

.dropdown-menu {
  background-color: rgb(50, 50, 61);
  color: #a6b2d1;

  p {
    padding: 0 24px;
  }
  .dropdown-item {
    color: #a6b2d1;
  }
}

.darken {
  filter: brightness(15%);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 576px) {
  #app {
    // margin-left: 180px;
    // width: 100%;
    position: relative;
    // left: 180px;
    // padding-left: 180px;
    padding-left: 220px;
    // padding-right: 0px;
    #main-wrapper {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}
