section.catalog-header {
    margin-top: 40px;

    .catalog-details {
        text-align: center;

        .catalog-cover {
            img {
                height: 250px;
                object-fit: cover;
                width: 250px;
            }

            .show-md-up {
                display: none;

                @include responsive(md) {
                    display: grid;
                }
            }
        }
    }

    .catalog-button-grid {
        display: grid;
        font-size: 24px;
        grid-gap: 30px;
        grid-template-columns: repeat(2, max-content);
        justify-content: center;
        margin-top: 20px;
        min-height: 40px;
        
        .fa-spotify {
            color: #1DB954;
        }

        @include responsive(md) {
            justify-content: left;
        }
    }
    
    .button-spotify {
        align-items: center;      
        display: flex;
        justify-content: center;
    }

    @include responsive(md) {
        .catalog-details {
            display: grid;
            grid-template-columns: max-content auto;
            grid-gap: 30px;
    
            .catalog-info {
                text-align: left;
            }
        }

        .hide-md-up {
            display: none;
        }
    }
}