#collection-grid {

    margin-top: 40px;
    text-align: center;
    .collection-cover-art {
        height: 200px;
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        img {
            height: 100%;
            width: 100%;
        }
    }
    .collection-info {
        p {
            margin-bottom: 10px;
        }
        .album-artist-thumbnail {
            height: 30px;
            width: 30px;
            border-radius: 50%;
        }
    }
}


.button-outline {
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    background-color: transparent;
    font-size: 20px;
    min-width: 80px;
  }

.button-spotify {
    display: flex;
    align-items: center;      
    justify-content: center;
}

#collection-button-grid {
    display: grid;
    font-size: 24px;
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    grid-gap: 30px;
    margin-top: 20px;
    margin-bottom: 20px;     
    min-height: 40px;
    .fa-spotify {
        color: #1DB954;
      }
    i {
        margin: auto 0;
    }  
}

.hr-spaced-out {
    // background-color: #a6b2d1;
    // background-color: rgba(166,178,209,0.3);
    margin: 40px 0;
}

@media screen and (min-width: 768px) {
    #collection-grid {
        display: grid;
        grid-template-columns: max-content auto;
        grid-gap: 30px;
        // margin-top: 40px;
        .collection-info {
            text-align: left;
        }
    }
    #collection-button-grid {
        justify-content: left;
    }
}