#createPlaylistModal {   
    .modal-dialog {
        background-color: #151b24;
        
        .modal-header, .modal-footer {
            border: none;
        }

        .modal-close {
            color: #FFFFFF;
            opacity: 1;
            text-shadow: none;

            &:focus {
                border: 0;
            }
        }

        .create-playlist-content {
            #preview-image-file {
                display: none;
            }
        
            .image-preview-box {
                background-position: center;
                background-size: cover;
                border: 1px solid #ffffff;
                height: 200px;
                margin-bottom: 40px;
                width: 200px;
        
                .fas {
                    font-size: 70px;
                }
        
                img {
                    height: 100%;
                    width: 100%;
                }
        
                label {
                    align-items: center;
                    cursor: pointer;
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    justify-content: center;
                    width: 100%;
                }
            }

            .input-group {
                margin-bottom: 1rem;
                span {
                    color: $red;
                    font-size: 14px;
                }
            }
            
            @include responsive(sm) {
                display: grid;
                grid-template-columns: max-content auto;
                grid-gap: 30px;
            }
        }
    }
}