header {
    align-items: center;
    background-color: #000000;
    display: flex;
    height: 60px;
    min-width: 320px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 21;

    .nav-button {
        background-color: transparent;
        border-style: none;
        cursor: pointer;
        display: inline-block;
        margin-left: 20px;
        z-index: 30;

        &:focus {
            outline: none; 
        }

        .navbar-bar {
            background-color: #ffffff;
            border-radius: 2px;
            display: block;
            height: 4px;
            margin: 6px 0;
            transition: 0.5s;
            width: 40px;
    
            &.top.active {
                transform: translateY(10px) rotateY(180deg) rotateZ(-45deg);
            }
    
            &.middle.active {
                transform: scaleX(0);
            }
    
            &.bottom.active {
                transform: translateY(-10px) rotateY(180deg) rotateZ(45deg);
            }
        }
    }

    a {
        font-family: CHINESETAKEAWAY;
        font-size: 20px;
    }

    form {
        background-color: #000000;
        display: none;
        padding: 16px 24px;
        position: absolute;
        top: 60px;
        width: 100%;
        
        &.active {
            display: block;
        }

        i {
            padding: 8px 0;
            position: absolute;        
        }

        input {
            padding: 6px 0 6px 30px;
            width: 100%;
  
            &:focus {
                border-bottom-color: #FFFFFF;
            }

            &::-webkit-search-cancel-button { 
                background-image: -webkit-gradient(linear, left top, right bottom, from(transparent), color-stop(0.46, transparent), color-stop(0.46, #fff), color-stop(0.54, #fff), color-stop(0.54, transparent), to(transparent)), -webkit-gradient(linear, right top, left bottom, from(transparent), color-stop(0.46, transparent), color-stop(0.46, #fff), color-stop(0.54, #fff), color-stop(0.54, transparent), to(transparent));
                height: 15px;
                width: 15px;
                -webkit-appearance: none;
            }
        }
    }

    .user-profile {
        position: absolute;
        right: 60px;

        img {
            border-radius: 50%;
            height: 30px;
        }
    }

    .search-toggle-button {
        background-color: transparent;
        border: none;
        position: absolute;
        right: 20px;

        &:focus {
            border: none;
            outline: none;
        }

        i {
            color: #ffffff;
            font-size: 24px;
        }
    }

    .overlay {
        background-color: rgba(0, 0, 0, 0.7);
        height: 0;
        position: absolute;
        top: 0px;
        transition: 0.3s;
        width: 100%;
        
        &.active {
            height: 100vh;
        }
    }

    @include responsive(sm) {
        justify-content: space-between;

        a {
            margin-left: 20px;
        }

        .nav-button, .search-toggle-button, .overlay {
            display: none;
        }

        form {
            background-color: transparent;
            display: block;
            position: unset;
            top: unset;
            width: 300px;
        }

        .user-profile {
            margin-right: 20px;
            position: unset;
        }
    }
}