@import 'fonts';

header {
    color: #ffffff;
    background-color: rgba(0,0,0,1);
    height: 60px;
    position: fixed;
    top: 0;
    z-index: 10;
    min-width: 100%;
    #nav-header {
        height: 100%;
        display: flex;
        // flex-wrap: wrap;
        // justify-content: space-between;
        align-items: center;
            
        .navbar-brand {
            cursor: pointer;
        }
        .nav-button {
            display: inline-block;
            cursor: pointer;
            z-index: 100;
            background-color: transparent;
            border-style: none;
            &:focus {
                border-style: none;
                outline:none; 
            }
        }
        .nav-menu-wrapper {
            // height: 30px;
            // vertical-align: unset;
            margin-left: 20px;
            z-index: 101;
        }
        .navbar-bar {
            display: block;
            height: 4px;
            width: 40px;
            background-color: #ffffff;
            margin-top: 6px;
            margin-bottom: 6px;
            border-radius: 2px;
            transition: 0.5s;
            &.top.active {
                transform: translateY(10px) rotateY(180deg) rotateZ(-45deg);
            }
            &.middle.active {
                transform: scaleX(0);
            }
            &.bottom.active {
                transform: translateY(-10px) rotateY(180deg) rotateZ(45deg);
            }
        }
        .navbar-brand {
            color: #ffffff;
            display: inline-block;
            font-family: CHINESETAKEAWAY;
            // margin-left: 20px;
        }
        #search-bar {
            // display: none;
            position: absolute;
            left: 50%;
        }
        #user-profile {
            position: absolute;
            right: 30px;
        }
    }
    nav {
        z-index: 99;
        background-color: #262626;
        position: fixed;
        top: 0;
        left: 0;
        // right: 0;
        height: 100vh;
        width: 0;
        overflow-x: hidden;
        transition: 0.5s;   
        &.active {
            // height: 100%;
            width: 50%;
            // padding: 80px 30px 15px 30px;
        }
        .navbar-nav {
            // text-align: center;
            padding-left: 20px;
            padding-top: 60px;
            .nav-link {
                color: #ffffff;
                font-size: 16px;
                display: inline-block;
            }
        }
    }
    .overlay {
        position: fixed;
        top: 60px;
        height: 0;
        width: 100vw;
        background-color: #000000;
        opacity: 0.7;
        transition: 0.3s;
        &.active {
            height: 100vh;
        }
    }
}

@media screen and (max-width: 575px) {
    #search-bar input {
        max-width: 100px;
    }
}

@media screen and (min-width: 576px) {
    .nav-menu-wrapper, .nav-sidebar {
        display: none;
    }
    .navbar-brand {
        margin-left: 10px;
    }
}