.loader {
    background-color: rgb(18, 18, 22);
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    
    .loader-wrapper {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        left: 50%;
        position: relative;
        top: 50%;
        transform: translate(-50%, -50%);

        .equalizer {
            align-items: flex-end;
            display: flex;
            height: 80px;
            justify-content: center;
            overflow: hidden;

            div {
                animation-delay: var(--n);
                animation-direction: alternate;
                animation-duration: 350ms;
                animation-iteration-count: infinite;
                animation-name: equalize;
                animation-timing-function: linear;
                background-color: #ffffff;
                height: 5px;
                margin: 0 2px;
                width: 15px;

                &:nth-child(1) {
                    --n: 275ms;
                }

                &:nth-child(2) {
                    --n: 605ms;
                }

                &:nth-child(3) {
                    --n: 375ms;
                }

                &:nth-child(4) {
                    --n: 15ms;
                }

                &:nth-child(5) {
                    --n: 165ms;
                }

                @keyframes equalize {
                    from {
                        height: 1px;
                    }

                    to {
                        height: 100%;
                    }
                }
            }
        }

        blockquote {
            animation: fade 2s ease-in-out;
            animation-iteration-count: infinite;
            font-size: 20px;
            width: 300px;

            &.quote {
                font-style: italic;
                text-align: left;
            }

            &.signature {
                text-align: right;
            }

            @keyframes fade {
                0% {
                    opacity: 0.2;
                }

                50% {
                    opacity: 1;
                }
                
                100% {
                    opacity: 0.2;
                }
            }
        }   

        @include responsive(sm) {
            left: calc(50% + 110px);
        }
    }
}