#loader {
    height: 100%;
    position: fixed;    
    width: 100%;
    // background-attachment: fixed;
    background-color: rgb(18, 18, 22);
    // background-image: url("/images/bruce.png"), linear-gradient(135deg, rgb(33, 39, 55) 0%, rgb(22, 28, 37) 100%);
    // // background-image: linear-gradient(135deg, rgb(27, 32, 45) 0%, rgb(22, 28, 37) 100%);
    // background-repeat: no-repeat;
    // background-size: contain;
    // background-position: center calc(50% + 60px);
    z-index: 20;
    top: 0;
    left: 0;
  }

#loader::before {
    content: "";
    height: 100%;
    display: block;
    // background-color: rgba(0,0,0,1);
    // background-image: linear-gradient(135deg, rgb(33, 39, 55) 0%, rgb(22, 28, 37) 100%);
    // background-color: rgb(18, 18, 22);
}

#loader-box {
    display: flex;
    flex-direction: column;
    // align-items: center;
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    
    blockquote {
        font-size: 1.2rem;
        animation: fade 2s ease-in-out;
        animation-iteration-count: infinite;
        &#quote {
            font-style: italic;
            text-align: left;
        }
        &#signature {
            text-align: right;
        }
    }
}
#equalizer {
	width: 10em;
	height: 10em;
    display: flex;
    margin-left: auto;
    margin-right: auto;
	justify-content: space-between;
    font-size: 10px;
    z-index: 21;
}

#equalizer span {
	width: 1.5em;
    // background: linear-gradient(red, yellow, green);
    background-color: #FFFFFF;
    // animation: up-and-down 2s linear calc(-1 * 0.4s * var(--n));
    animation: up-and-down 2s linear infinite calc(-1 * 0.4s * var(--n));    
    // animation-iteration-count: infinite;
}

#equalizer span {
	--n: 1;
}

#equalizer span:nth-child(2) {
	--n: 2;
}

#equalizer span:nth-child(3) {
	--n: 3;
}

#equalizer span:nth-child(4) {
	--n: 4;
}

#equalizer span:nth-child(5) {
	--n: 5;
}

@keyframes up-and-down{
	0%, 100% {
        clip-path: inset(27% 0 0 0);
        -webkit-clip-path: inset(27% 0 0 0);
	}

	10% {
        clip-path: inset(17% 0 0 0);
        -webkit-clip-path: inset(17% 0 0 0);
	}

	20% {
        clip-path: inset(55% 0 0 0);
        -webkit-clip-path: inset(55% 0 0 0);
	}

	30% {
        clip-path: inset(30% 0 0 0);
        -webkit-clip-path: inset(30% 0 0 0);
	}

	40% {
        clip-path: inset(13% 0 0 0);
        -webkit-clip-path: inset(13% 0 0 0);
	}

	50% {
        clip-path: inset(38% 0 0 0);
        -webkit-clip-path: inset(38% 0 0 0);
	}

	60% {
        clip-path: inset(80% 0 0 0);
        -webkit-clip-path: inset(80% 0 0 0);
	}

	70% {
        clip-path: inset(21% 0 0 0);
        -webkit-clip-path: inset(21% 0 0 0);
	}

	80% {
        clip-path: inset(0% 0 0 0);
        -webkit-clip-path: inset(0% 0 0 0);
	}

	90% {
        clip-path: inset(36% 0 0 0);
        -webkit-clip-path: inset(36% 0 0 0);
	}
}

@keyframes fade {
    0% {
        opacity: 0.2;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.2;
    }
}

@media screen and (min-width: 576px) {
    #loader {
      background-position: calc(50% + 160px) calc(50% + 60px);
    }
    #loader-box {
        left: calc(50% + 90px);
    }
}
