.pagination-container {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

    .page-button {
        background-color: transparent;
        border: solid 1px#ffffff;
        border-radius: 4px;
        color: #ffffff;
        height: 35px;
        margin: 0 4px;
        width: 35px;
        
        &.active {
            background-color: #FFFFFF;
            color: rgb(18, 18, 22);
        }
    }
}