nav {
    background-color: rgb(25, 25, 34);
    font-size: 20px;
    height: 100%;
    left: -220px;
    padding-top: 40px;
    position: fixed;
    top: 60px;
    transition: 0.5s;
    width: 220px;
    z-index: 22;

    &.active {
        left: 0;
    }

    a.active {
        border-left: 6px solid $red;
        color: $red;
        
        .far, .fas {
            padding-left: 24px;
        }
    }

    ul {
        line-height: 3rem;
        padding: 0px; 

        li {
            list-style-type: none;

            .far, .fas {
                padding-left: 30px;
                padding-right: 10px;
            }
        }
    }

    @include responsive(sm) {
        left: 0;
    }
}