#track-modal {
    .modal-dialog {
        margin-left: auto;
        margin-right: auto;
        max-width: 90%;
        min-width: 300px;

        .modal-header {
            border-bottom-color: rgba(166, 178, 209, 0.3);
            padding-left: 30px;
            padding-right: 30px;

            .button-grid {
                display: grid;
                font-size: 24px;
                grid-gap: 30px;
                grid-template-columns: repeat(3, max-content);
                min-height: 40px;
            }

            #track-modal-close {
                color: #FFFFFF;
                opacity: 1;
                text-shadow: none;

                &:focus {
                    border: 0;
                }
            }
        }

        .modal-body {
            padding: 0 30px 40px 30px;

            .audio-analysis-grid {
                display: grid;
                grid-row-gap: 20px;
                grid-template-columns: repeat(2, auto);
                text-align: center;
                
                @include responsive(sm) {
                    grid-template-columns: repeat(5, auto);    
                }
            }
            
            .chart-container {
                display: relative;
                margin: 30px auto;
                min-height: 300px;
            }

            .loading {
                animation: blink 1.5s ease-in-out infinite;

                span {
                    animation-duration: 1.5s;
                    animation-iteration-count: infinite;
                    animation-fill-mode: both;
                    animation-name: blink;

                    &:nth-child(2) {
                        animation-delay: 0.2s;
                    }

                    &:nth-child(3) {
                        animation-delay: 0.4s;
                    }
                }

                @keyframes blink {
                    0% {
                        opacity: 0.2;
                    }

                    50% {
                        opacity: 1;
                    }
                    
                    100% {
                        opacity: 0.2;
                    }
                }
            }
        }

        @include responsive(md) {
            max-width: 700px;
        }

        @include responsive(lg) {
            max-width: 800px;
        }
    }
}